[submodule "Kaizen/vendor/spdlog"]
	path = Kaizen/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kaizen/vendor/GLFW"]
	path = Kaizen/vendor/GLFW
	url = https://github.com/COndrusz/glfw
[submodule "Kaizen/vendor/imgui"]
	path = Kaizen/vendor/imgui
	url = https://github.com/COndrusz/imgui
